button {
    border: none;
    background-color: #777777;
    font-size: 1em;
    font-family: "Microsoft YaHei UI";
    font-size: 10pt;
    border-radius: 0.1em;
    height: 2em;
    box-shadow: 0.1em 0.1em 0.1em #000;
    color: white;
}

button:active {
    margin-top: 0.03em;
    border-color: #006bbe;
    background-color: #c8d6e1;
    box-shadow: 0.07em 0.07em 0.07em #000;
}

button:hover {
    border: 1px;
    border-color: #006bbe;
    background-color: #666666;
}

p {
    font-family: "Microsoft YaHei UI";
    font-size: 10pt;
    color: white;
}

body {
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    background: #2d2d2d;
}

h3 {
    border-bottom: 3px solid #777;
    align-items: left;
    font-family: "Microsoft YaHei UI";
    font-weight: lighter;
    color: white;
}